.container {
  background: var(--background, #F0F0F6);
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.header {
  background: var(--white, #FFF);
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 25px 43px;
}

.profile {
  display: flex; 
  align-items: center; 
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.name {
  color: var(--black, #2B2B2B);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px; /* Add some spacing between image and text */
}

.content-container {
  display: flex;
  flex: 12;
  height: 100vh;
}


.rectangle {
  position: relative;
  width: 100%;
  height: 467px;
  background-size: cover;
  background-repeat: no-repeat;
}

.shape {
  position: absolute;
  border-radius: 50%;
}